{% extends 'base.html.twig' %}


{% block body %}
<h1>Calculator home</h1>

    <form method="post" action="{{ url('calc_process') }}" id="calc_form">
        <p>
            Num 1:
            <input type="text" name="num1" value="1">
        </p>
        <p>
            Num 2:
            <input type="text" name="num2" value="1">
        </p>
        <p>
            Operation:
            <br>
            ADD
            <input type="radio" name="operator" value="add" checked>
            <br>
            SUBTRACT
            <input type="radio" name="operator" value="subtract">
            <br>
            DIVIDE
            <input type="radio" name="operator" value="divide">
        </p>

        <p>
            <input type="submit" name="calc_submit">
        </p>
    </form>

{% endblock %}
